body{
	margin: 0;
}

div{
	position: relative;
}

#start{
	position:absolute;
	z-index:2;
	margin-left: 45vw;
	margin-top:45vh;
	font-size: 5vw;
}

#fin{
	display:none;
	position:absolute;
	z-index:2;
	margin-left: 40vw;
	margin-top:30vh;
	text-align:center;
	font-size: 5vw;
}

#perso{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

#bg{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

#score{
	position:absolute;
	left:10px;
	z-index:2;
	font-size: 5vw;
}

#sol{
	position: absolute;
	left: 0;
	top: 0;
	z-index:1;
}
